<p id="notice"><%= notice %></p>

<h1>Providers</h1>

<table class="table-striped" style="width: 100%;" id="providers-table" data-source="<%= providers_path(format: :json) %>">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Staff Evaluation Date</th>
      <th>ID Expiration Date</th>
      <th>Work Authorization Expiration</th>
      <th>Safety Training Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path %>
