<p id="notice"><%= notice %></p>

<h1>Careplans</h1>

<table class="table-striped" style="width: 100%;" id="careplans-table" data-source="<%= careplans_path(format: :json) %>">
  <thead>
    <tr>
      <th>Start Date</th>
      <th>Provider Last Name</th>
      <th>Provider First Name</th>
      <th>Client Last Name</th>
      <th>Client First Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Careplan', new_careplan_path %>
